/data
/dist
/front/build
/front/dist
/front/node_modules
/front/package-lock.json
/sail
/cmd/mmemo/__debug_bin*
/__debug_bin
/__debug_bin.exe
/static/static
/cmd/mmemo/static/*.html
/cmd/mmemo/static/asset-manifest.json
/cmd/mmemo/static/favicon.ico
/cmd/mmemo/static/manifest.json
