/.cache
/data
/settings.json
/memo.db
/dist
/front/.yarn
/front/build
/front/dist
/front/node_modules
/front/package-lock.json
/sail
/cmd/mmemo/__debug_bin*
/__debug_bin
/__debug_bin.exe
/static/static
/node_modules
