<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="js/kalendae.css" type="text/css" charset="utf-8">
    <script src="js/kalendae.standalone.min.js" type="text/javascript" charset="utf-8"></script>
    <style>
        body {
            background: #394e8c;
            color: white;
            font-size:4vmax;
        }
        input {
            font-size:4vmax;
        }

        textarea {
            font-size:2vmax;
            width:100%
        }

        div#wiki-wrapper {
            background: #F2F4FA;
            color: #3E414C;
            max-width: 80%;
        }

        .markdown-body pre {
            background: #3E414C;
            color: #F2F4FA;
        }

        ul.actions a.action-home-page {
            background: #394D88;
            color: white;
        }

        ul.actions a {
            background: #1B2032;
            color: white;
        }

        h2 {
            background: linear-gradient(transparent 70%, #a7d6ff 70%);
            color: #3E414C;
        }

        h3 {
            background: linear-gradient(transparent 70%, #a7d6ff 30%);
            color: #3E414C;
        }
    </style>
    <script>
        var request = new XMLHttpRequest();
        var form = document.getElementById("data");

        function send() {
            var data = new Object();
            data.date = document.getElementsByName("date")[0].value;
            data.shoptype = document.getElementsByName("shoptype")[0].value;
            data.shop = document.getElementsByName("shop")[0].value;
            data.name = document.getElementsByName("name")[0].value;
            data.homepage = document.getElementsByName("homepage")[0].value;
            data.play = document.getElementsByName("play")[0].value;
            data.talk = document.getElementsByName("talk")[0].value;

            request.open('POST', location.href, true);
            request.setRequestHeader("Content-Type","application/json");
            request.send(JSON.stringify(data));
        }
    </script>
</head>

<body>
    <h1><a href=".">HMemo[登録]</a></h1>
    <form id="data" method="post">
        name:<input type="text" name="name" style="font-size:4.5vmax" /><br/>
        date:<input type="text" class="auto-kal" name="date"><br />
        shop:<input type="text" name="shoptype" /><input type="text" name="shop" /><br/>
        home page:<input type="text" name="homepage" /><br/> 
        play:<textarea name="play"></textarea><br/>
        talk:<textarea  name="talk"></textarea><br />
        <input type="button" onClick="send();" value="登録" />
    </form>
</body>

</html>