.navbar-default {
    background-color: #001753;
    border-color: #ffba00;
  }
  .navbar-default .navbar-brand {
    color: #ecf0f1;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #704700;
  }
  .navbar-default .navbar-text {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #704700;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #704700;
    background-color: #ffba00;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #704700;
    background-color: #ffba00;
  }
  .navbar-default .navbar-toggle {
    border-color: #ffba00;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #ffba00;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ecf0f1;
  }
  .navbar-default .navbar-link {
    color: #ecf0f1;
  }
  .navbar-default .navbar-link:hover {
    color: #704700;
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #704700;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #704700;
      background-color: #ffba00;
    }
  }

/* #region ピクチャーボックス */
  .picture {
    display: inline-block;
    object-fit: contain;
    height: 200px;
    width: 200px;
  }

  .pictureover {
    -webkit-filter: brightness(0.5);
    -moz-filter: brightness(0.5);
    -o-filter: brightness(0.5);
    -ms-filter: brightness(0.5);
    filter: brightness(0.5);
    border: 3px dashed #ffba00;
  }

  .pictureSelectBox {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 0px;
    text-align: center;
    font-size: 128px;
    color: #bbb;
    float: left;
    vertical-align: middle;
    height: 200px;
    width: 200px;
  }
  /* #endregion */

  .inputFile {
    height: 0px;
    visibility: hidden;
    position: absolute;
  }

  span#imageBoxIcon{
    position: absolute;
    top: 50%;
    margin: -0.5em;
}
